*{
    text-align: center;
}

body{
    background-color: rgb(133, 97, 254);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 200px;
    margin-left: 200px;
}

.texto{
    background-color: white;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}

